<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--注解支持-->
    <mvc:annotation-driven/>
    <!--静态资源处理-->
    <mvc:default-servlet-handler/>
    <!--扫描controller-->
    <context:component-scan base-package="com.itheima.controller"/>
    <!--视图解析器-->
    <bean id="modelAndView" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <constructor-arg name="prefix" value="/"/>
        <constructor-arg name="suffix" value=".html"/>
    </bean>

    <!-- 配置MultipartResolver，用于上传文件，使用spring的CommonsMultipartResolver -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--附件最大是2000兆-->
        <property name="maxUploadSize" value="204857600" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

</beans>